*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    box-shadow: 0 4px 2px -2px black;
    margin-bottom: 10px;
    
}
h1{
    margin: 10px;
    margin-bottom: 12px;
    padding: 10px;
    text-align: center;
}
#bartenderNames{
    display: flex;
    flex-wrap: wrap;
}
.bartenderName{
    flex: 1;
    display: flex;
}
#addTips{
    height: 40px;
    font-style: bold;
    font-size: 150%;
    text-align: center;
}
.totalTipsContainer{
    text-align: center;
}