*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    box-shadow: 1px 10px 10px 0px #919191;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: black;
}
img{
    margin: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 100px; 
    height: 80px;
}
h1{
    margin: 10px;
    margin-bottom: 12px;
    margin-right: 105px;
    padding: 10px;
    text-align: center;
    color: lightgray;
    text-decoration: underline;
    flex: 2;
}
#bartenderNames{
    display: flex;
    flex-wrap: wrap;
}
.bartenderName{
    flex: 1;
    display: flex;
}
#addTips{
    height: 40px;
    font-style: bold;
    font-size: 150%;
    text-align: center;
}
.totalTipsContainer{
    text-align: center;
}
.removeButton{
    width: 30px;
}