*{
    box-sizing: border-box;
}
body{
    display: grid;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr 1fr;
}

/* Header, tips and bartender containers */
header{
    display: flex;
    
    grid-column: 1 / 4;
    margin: 0;
    margin-bottom: 30px;
    height: 100px;
    box-shadow: 0px 10px 10px 0px #919191;
    background-color: black;
}
header img{
    height: 100px;
    border-right: 1px solid #977d6c;
}
header h1{
    align-self: center;
    margin: auto;
    color: #fafafa;
}
#bartenderAndTipsContainer{
    display: flex;
    grid-column: 1 / 4;
    flex-direction: column;
    box-shadow: 0px 10px 10px 0px #919191;

}
#addTips{
    text-align: center;
    align-self: center;
    font-weight: bold;
    margin: auto;
    height: 50px;
    border-radius: 15px;
}
.totalTipsContainer,#addContainer{
    align-self: center;
    margin: auto;
}
#addContainer{
    display: flex;
}
.functionButtons{
    display: flex;
    width: 70vw;
    align-self: center;
    margin-bottom: 5px;
}
input{
    border-radius: 5px;
}
.functionButtons *{
    flex-basis: 50%;
    font-weight: bold;
}
#output{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
#bartenderNames{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); */
    display: flex;
    flex-wrap: wrap;
}
/* #bartenderNames input{
    flex-basis: 33%;
} */
.nameContainer{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    max-width: 177px;
}

.nameContainer p{
    flex-basis: 75%;
    margin-top: 33px;
    margin-left: 5px;
    margin-bottom: 0px;
}
.removeButton{
    flex-basis: 25%;
    max-width: 15px;
    max-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}

#output{
    display: flex;
    flex-wrap: wrap;
}
#output h3{
    flex-basis: 50%;
    text-decoration: underline;
}
#output h2{
    flex-basis: 100%;
    margin: 5px 0px;

}
#output p{
    font-size: 1.3em;
    flex-basis: 100%;
    margin: 10px 5px;
    text-decoration: underline;
}
                /*     */

/*  Start of Till styling */

.tillCalculator{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
}
.tillCalculator h2{
    text-decoration: underline;
}
li{
    list-style-type: none;
}
.tillEntry{
    display: flex;
    
}
.tillEntry span{
    flex-basis: 10%;
}



.mugBackground{
    grid-row: 4;
    grid-column: 1 / 2;
    width: 100vw;
}
.mugBackground img{
   width: 80vw;
}




 /* .nameContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.removeButton{
    grid-column: 1 /2;
    width: 15px;
} */